.card{
    text-align: center;
    background-color: rgb(40, 128, 98);
    border-radius: 0.4rem;
    /* margin-bottom: 2rem; */
    transition: all 0.35s 0s ease;
}
@media only screen and (max-width: 600px){
    .card:nth-child(1){
        margin-top: 2rem;
    }
    .card{
        width: 100%;
    }
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: all 0.35s 0s ease;
}

.img_dog{
    width: 100%;
    height: 15rem;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.card_h3{
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}
