
.container_fav{
    position: relative;
    /* background-color: aqua; */
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.content_card_fav{
    width: calc((100% - 50px) / 4);
    height: 10rem;
}

.fav_img{
    width: 100%;
    height: 15rem;
}
.fav_name{
    font-size: 1.5rem;
}
.fav_height{
    color: blueviolet;
}
.fav_weight{
    color: brown;
}