.search_icon_container{
    display: flex;
    align-items: flex-end;
}

/* .search_icon_container a{
    font-size: 1.2rem;
    color: rgb(68, 148, 121);
    margin-left: 1rem;
} */
/* .search_icon_container a:hover{
    color: aqua;
} */

.input_search{
    border-radius: .6rem;
    /* border-color: rgb(68, 148, 121); */
    border: 3px solid rgb(68, 148, 121);
    font-size: 1.2rem;
}