html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(rgba(187, 185, 187, 0.959), rgba(221, 221, 230, 0.411)); */
  /* background-color: rgb(198, 241, 209); */
  background-color: rgba(187, 185, 187, 0.959);
}
ul {
  list-style: none;
  padding: 0;
}
h1,
h2,
h3 {
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  border-style: none;
}
